# For local development only. In production on Railway, leave this UNSET (same origin via Caddy proxy)
VITE_API_URL=http://localhost:8000
VITE_GOOGLE_CLIENT_ID=PLACEHOLDER_CLIENT_ID

# Umami Analytics
VITE_UMAMI_URL=https://umami.samhren.dev
VITE_UMAMI_WEBSITE_ID="aac51aaa-1826-437b-8001-66232141aa69"